<div class="container mt-6">
    <div class="notification is-danger is-light">
        <button class="delete"></button>
        <h1 class="title is-4 has-text-danger">Usuario no encontrado</h1>
        <p>
        <strong>Error 404</strong> – La URL que ingresaste no corresponde a ningún usuario registrado.
        </p>
        <p class="mt-3">
        Puedes regresar al inicio haciendo clic aquí:
        </p>
        <a class="button is-link mt-2" href="/">
        <span class="icon"><i class="fas fa-home"></i></span>
        <span>Ir a inicio</span>
        </a>
    </div>
</div>
