<div class="container mt-5">
    <h2 class="title">Perfil de: <%= usuario.nombre %></h2>
    <p>
        <strong>Correo: </strong><%= usuario.correo %>
    </p><br />
    <a href="/" class="button is-link mt-3">Volver</a>
</div>